
VC++/CameraServer/CameraServer/x64/Debug/
VC++/CameraServer/.vs/CameraServer/v16/
VC++/CameraServer/CameraServer/Debug/CameraServer.exe.recipe
VC++/CameraServer/CameraServer/Debug/CameraServer.log
VC++/CameraServer/CameraServer/Debug/CameraServer.obj
VC++/CameraServer/CameraServer/Debug/CameraServer.pch
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/CameraServer.lastbuildstate
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/CL.command.1.tlog
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/CL.read.1.tlog
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/CL.write.1.tlog
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/link.command.1.tlog
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/link.read.1.tlog
VC++/CameraServer/CameraServer/Debug/CameraServer.tlog/link.write.1.tlog
VC++/CameraServer/CameraServer/Debug/pch.obj
VC++/CameraServer/CameraServer/Debug/vc142.idb
VC++/CameraServer/CameraServer/Debug/vc142.pdb
VC++/CameraServer/CameraServer/x64/
VC++/CameraServer/Debug/CameraServer.exe
VC++/CameraServer/Debug/CameraServer.ilk
VC++/CameraServer/Debug/CameraServer.pdb
VC++/CameraServer/Release/
VC++/OpencvTest/.vs/
VC++/OpencvTest/Debug/OpencvTest.ilk
VC++/OpencvTest/Debug/OpencvTest.exe
VC++/OpencvTest/Debug/OpencvTest.pdb
VC++/OpencvTest/OpencvTest/Debug/
VC++/OpencvTest/OpencvTest/Release/
VC++/OpencvTest/Release/
