
VC++/CameraServer/CameraServer/x64/Debug/
VC++/CameraServer/.vs/CameraServer/v16/
VC++/CameraServer/CameraServer/Debug/
VC++/CameraServer/CameraServer/x64/
VC++/CameraServer/Debug/CameraServer.exe
VC++/CameraServer/Debug/CameraServer.ilk
VC++/CameraServer/Debug/CameraServer.pdb
VC++/CameraServer/Release/
VC++/OpencvTest/.vs/
VC++/OpencvTest/Debug/OpencvTest.ilk
VC++/OpencvTest/Debug/OpencvTest.exe
VC++/OpencvTest/Debug/OpencvTest.pdb
VC++/OpencvTest/OpencvTest/Debug/
VC++/OpencvTest/OpencvTest/Release/
VC++/OpencvTest/Release/
C#/CameraClient/.vs/
C#/CameraClient/CameraClient/back/
C#/CameraClient/CameraClient/bin/
C#/CameraClient/CameraClient/obj/
C#/CameraClient/Communication/bin/
C#/CameraClient/Communication/obj/
C#/CameraClient/SDKLib/bin/
C#/CameraClient/SDKLib/obj/
.vs/
C++/LearnCpp/Debug/
C++/LearnCpp/LearnCpp/Debug/
C#/LearnSharp/LearnSharp/obj/Debug/
C#/LearnSharp/LearnSharp/obj/Release/
C#/LearnSharp/LearnSharp/bin/Debug/
